<ion-content>
  <ion-row>
    <ion-col size="2">
      <ion-icon class="back-button" name="chevron-back-circle-outline"></ion-icon>
    </ion-col> 
    <ion-col size="8">
        <h1>Product Name...</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-slide>
      <ion-slides>
        <ion-card>
          Image to go here
        </ion-card>
      </ion-slides>
    </ion-slide>
  </ion-row>
  <ion-row>
    <div class="center">
      <h2>Price</h2>
    </div>
  </ion-row>
  <ion-row></ion-row>
  <ion-row>
    <ion-button class="retailer">
      Buy from *Retailer name*
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button class="collection">
      <ion-col>
        <ion-icon class="plus" name="add-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        Add to Collection
      </ion-col>
    </ion-button>
  </ion-row>
</ion-content>