<ion-content>
  <!-- TODO: Add fetch command for profile information -->
  <ion-row class="ion-align-items-center">
    <ion-col size="3">
      <ion-icon style="color:#F68080" class="image" name="add-circle-outline"></ion-icon>
      <!-- TODO: Replace icon with img -->
    </ion-col>
    <ion-col size="6">
      <ion-row>
        <h5 style="color:#F68080" class="name">Name</h5>
        <ion-icon class="drop" style="color:#F68080" name="caret-down-outline"></ion-icon>
      </ion-row>
      <h6 style="color:#B4B4B4" class="date">Birthday: xx month</h6>
    </ion-col>
  </ion-row>
  <hr />
  <ion-icon class="icon" name="trash-bin-outline"></ion-icon>
  <ion-slide>
    <ion-slides>
      <ion-card class="card">
        <ion-card-content>
          <ion-card class="picture">Image here</ion-card>
          <h4>Name of product</h4>
          <h5>Price</h5>
        </ion-card-content>
      </ion-card>
    </ion-slides>
  </ion-slide>
</ion-content>
<collection-drawer [options]="drawerOptions">
  <div>
    <hr class="collection"/>
    <h2>Collection</h2>
  </div> 
</collection-drawer>